body{
  background-color: gray;
}
h1{
  text-align: center;
  font-size: 2rem;
}

.kmr{
  background-image: url("kmr.jpg");
  background-size: cover;
  color:  #012f43;
}
.blr{
  background-image: url("blr.jpg");
  background-size:cover;
  color: #1c0d00;
}
